{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<!-- Checkout section -->
<div class="row">
    <div class="col-sm-12">
        <div class="box-element">

            <a class="btn btn-outline-dark" href="{% url 'store' %}">
                &#x2190; Continue Shopping oo
            </a>
            <hr>

            <table class="table">
                <tr>
                    <th>
                        <h5> Items: <strong>{{order.get_cart_items}}</strong></h5>
                    </th>
                    <th>
                        <h5>Total: <strong>${{order.get_cart_total|floatformat:2}}</strong></h5>
                    </th>
                    <th>
                        <a class="btn btn-success checkout" href="{% url 'checkout' %}"> Checkout <i class="fa fa-check"
                                aria-hidden="true"></i></a>
                </tr>
            </table>
        </div>

    </div>
</div>
<br>
<!-- view items in cart -->

<div class="col-sm-12">
    <div class="box-element">
        <div class="cart-row">
            <div style="flex: 2;"></div>
            <div style="flex: 2;"> <strong>Item</strong></div>
            <div style="flex: 1;"><strong>Price</strong></div>
            <div style="flex: 1;"><strong> Quantity</strong></div>
            <div style="flex: 1;"><strong> Total</strong></div>
        </div>

        {% for item in items%}
        <div class="cart-row">
            <div style="flex: 2;"> <img class="row-image" src="{{item.product.imageURL}}" alt=""> </div>
            <div style="flex: 2;">
                <p> {{item.product.name}}</p>
            </div>
            <div style="flex: 1;">
                <p>${{item.product.price|floatformat:2}}</p>
            </div>
            <div class="qty" style="flex: 1;">
                <p class="quantity"><strong>{{item.quantity}}</strong></p>
                <div class="arrow">
                    <i data-product="{{item.product.id}}" data-action="add" class="update-cart"> <strong>
                            <span>&#43;</span></strong></i>
                    <i data-product={{item.product.id}} data-action="remove" class="update-cart"> <strong>
                            <span>&#8722;</span> </strong></i>
                </div>
            </div>
            <div style=" flex: 1;">
                <p>$ {{item.get_total|floatformat:2}}</p>
            </div>
        </div>
        {% endfor %}

    </div>

</div>


<!-- <i class="fas fa-angle-down"></i>

<i class="fas fa-arrow-alt-circle-down"></i> -->
{% endblock content %}