{% extends 'store/base.html' %}
{%load static%}

{% block content %}

<div class="row">
    {% for product in products%}
    <div class="col-sm-4">
        <img class="thumbnail" src=" {{product.imageURL}}">
        <div class="box-element product">
            <h6><strong>{{product.name}}</strong></h6>
            <hr>
            <div class="below-product">
                <div class="btn-store">
                    <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary update-cart">
                        Add to
                        Cart</button>
                    <button class="btn btn-outline-success">View</button>
                </div>
                <div class="price">
                    <h4>${{product.price |floatformat:2}}</h4>
                </div>
            </div>
        </div>
    </div>
    {%endfor%}
</div>

{% endblock content %}